[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-coffe-script"]
	path = bundle/vim-coffe-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git@github.com:motemen/git-vim.git
